body{
    background-color:#D2D4D6;
    margin:0px
}
@font-face {
  font-family: 'dpcomic';
  src: url('../lib/font-awesome/fonts/dpcomic.ttf');
}

*{
    font-family: "dpcomic";
}

#start{
  animation:fading 2s infinite;

}
@keyframes
fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

#line {
    width: 200%;
    height: 100%;
    left: 0px;
    bottom:0px;
    border-bottom: 2px solid black;
    -webkit-transform:
        translateY(-20px)
        translateX(5px)
        rotate(27deg);
    position: absolute;
    background-color: #821019;
}

#glcanvas{
    background-color: rgba(255,255,255,1);
}


#lockInReady{
    position: absolute;
    /* based on the text size */
    height: 4.3%;
    width: 100%;
    top: 45%;
    background-color: rgba(0,0,0,1);
    color:white;
    text-align: center;
    font-size: 2.5em;

    animation:fading 2s infinite;
}
@keyframes
fading{0%{opacity:0.2}50%{opacity:1}100%{opacity:0.2}}

#characterSelectBanner{
    position: absolute;
    /* based on the text size */
    height: 4.3%;
    width: 100%;
    top: 0%;
    background-color: rgba(0,0,0,1);
    color:white;
    text-align: center;
    font-size: 2.5em;
}


#play-game{
  height: 100%;
  width: 100%;
}
#play-game:hover{
  background-color: white;
}
#play, #game{
  font-family: dpcomic;
  position:absolute;
  font-size: 150px;
}
#options {
  font-family:dpcomic;
  font-color:white;
  font-size:150px;
  z-index:100;
  position:absolute;
  left: 50%;
  top:20%;
}
#timerBox{
    position: absolute;
    text-align: center;
    font-size: 2.5em;
    background-color: rgba(20,20,20, 0);
    top: 20%;
    left: 40%;
    width: 20%;
    height: 10%;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15)

}
#player1Box{
    position: absolute;
    text-align: center;
    font-size: 2.5em;
    background-color: rgba(20,20,20, 0);
    bottom: 20%;
    left: 10%;
    width: 20%;
    height: 10%;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15)

}

#player2Box{
    position: absolute;
    text-align: center;
    font-size: 2.5em;
    background-color: rgba(20,20,20, 0);
    bottom: 20%;
    left: 70%;
    width: 20%;
    height: 10%;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15)

}

#stageSelectBox{
    position: absolute;
    text-align: center;
    font-size: 2.5em;
    background-color: rgba(0,0,0, 1);
    top: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
}

.stageSelectInfo{
    display:inline-block;
    margin-top: 0.6%;
    margin-left: 2%;
    margin-right: 2%;
}

#p1Select{
  display: inline-block;
  text-align: center;
  background-color: rgba(100,100,100, 1);
  margin: 1%;
  width: 42%;
  height: 96%;
}
#p2Select{
  display: inline-block;
  text-align: center;
  background-color: rgba(100,100,100, 1);
  margin: 1%;
  width: 42%;
  height: 96%;
}

#pSelectContainer{
  position: absolute;
  text-align: center;
  font-size: 1.5em;
  background-color: rgba(0,0,0, 1);
  bottom: 0%;
  width: 100%;
  height: 35%;
}

#gui {
   position: absolute;
   top: 40%;
   right: 50%;
   font-size: 2em;
}

#statsContainer{
    position: absolute;
    text-align: center;
    font-size: 2.5em;
    background-color: rgba(0,0,0, 1);
    bottom: 0%;
    width: 100%;
    height: 35%;
}


#p1Stats{
    color: white;
    text-align: center;
    font-size: 1.0em;
    background-color: rgba(0,0,0,1);
    width: 50%;
    height: 100%;
    display: inline-block;

}

#p2Stats{
    color: white;
    text-align: center;
    font-size: 1.0em;
    background-color: rgba(0,0,0,1);
    width: 50%;
    height: 100%;
    display: inline-block;

}

#p1WinMessage{
    position: absolute;
    font-size: 2.5em;
    left: 7%;
    top: 10%;
}
#p2WinMessage{
    position: absolute;
    font-size: 2.5em;
    right: 11%;
    top: 10%;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.0); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  top: 5%;
  right: 10%;
}


/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #000000;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer1 {
  padding: 1px 0px;
  background-color: #000000;
  color: white;
  text-align: center;
  width: 48%;
  display: inline-block;
  position: relative;
  border-style: solid;
  border-color: #fefefe;
}
.modal-footer2 {
  padding: 1px 0px;
  background-color: #000000;
  color: white;
  text-align: center;
  width: 48%;
  display: inline-block;
  position: relative;
  border-style: solid;
  border-color: #fefefe;
}
