@font-face {
  font-family: 'dpcomic';
  src: url('./font-awesome/fonts/dpcomic.ttf');
}

body {
  font-family: "dpcomic";
  text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
    overflow: hidden;
    display:inline;
}

#title-container{
  background-color: #D2D4D6;
}
#raider-rumble{
  position:absolute;
  z-index:100;
}
